@import './partials/_variables.scss';
@import './partials/_mixins.scss';
@import './partials/_base.scss';

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*** SCROLL TOP ***/
.scroll__top {
  position: fixed;
  bottom: 1.25rem;
  right: 0.625rem;
  color: $secondary-color;
  padding: 0.625rem;
  border-radius: 50%;
  z-index: 1000;
  animation: btnToTop 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;

  &:hover {
    animation: none;
  }

  &--icon {
    font-size: $font-xl;
  }

  @keyframes btnToTop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
/*** HEADER ***/
.header {
  margin: 2rem 0.5rem 0.5rem;

  &__logo--img {
    width: 7.25rem;
    height: 2.25rem;
  }
}

main {
  @include container;
}

/*** SECTION 1 ***/

.hero {
  &__heading {
    margin-bottom: 1rem;
    color: $primary-color;
    line-height: $line-height-sm;
    font-size: $font-2xl;
  }

  &__text {
    font-size: $font-md;
    line-height: $line-height-lg;
    margin-bottom: 1.25rem;
    padding: 0 0.4rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: move 2s infinite ease alternate;
  }

  @keyframes move {
    from {
      transform: translateY(-15px);
    }

    to {
      transform: translateY(0px) scale(1.03);
    }
  }
}

/*** SECTION 2 ***/

.price__box {
  &--offer {
    display: flex;
    flex-direction: column;
  }

  &--heading {
    margin: 15px 0;
    color: $primary-color;
    line-height: 1.375;
    font-size: $font-lg;
  }

  &--content {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border: 2px solid $border-card;
    background-color: $bg-card;
    border-radius: 2rem;
    padding: 0.625rem;
  }

  &--text {
    padding-top: 0.4rem;

    strong {
      font-size: $font-lg;
      line-height: 1.375;
      letter-spacing: -0.075rem;
    }

    span {
      font-size: $font-md;
    }
  }

  &--icon {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    border-radius: 50%;

    &-avast {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &--button {
    @include button;
  }

  &--description {
    @include lightText;
  }
}

/*** SECTION 3 ***/

.product {
  &__heading {
    margin: 15px auto;
    line-height: $line-height-sm;
    font-size: 1.3rem;
  }

  &__features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 2rem;
    transition: 0.3s;
  }

  &__card {
    padding: 1rem;
    border: 1px solid $border-product__card;
    border-radius: 2rem;
    max-width: 19rem;
    min-height: 15rem;
  }

  &__card--title {
    margin-top: 1rem;
    line-height: $line-height-sm;
    font-size: $font-md;
  }

  &__card--description {
    @include lightText;
  }

  &__card--img {
    width: 80%;
    vertical-align: middle;
  }
}

/*** SECTION 4 ***/

.price__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--content-avast {
    width: 100%;
    display: flex;
    background-color: $bg-card;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0 auto;
    flex: 1 1 100%;
    max-width: 37.5rem;
    min-height: 22rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: 3px solid $border-card;
  }

  &--heading-avast {
    font-size: 1.5rem;
  }

  &--text-avast {
    font-size: 12px;
    line-height: 1.5;

    strong {
      font-size: $font-xl;
    }

    span {
      font-size: $font-base;
    }
  }

  &--button-avast {
    @include button;
    font-size: $font-sm;
    padding: 1rem 2.5rem;
  }

  &--guarantee {
    font-size: $font-sm;
  }

  &--description-avast {
    @include lightText;
  }

  &--support {
    font-size: $font-md;
    line-height: $line-height-md;
    margin-top: 2rem;
  }
}

/*** FOOTER ***/
.footer {
  .footer__top {
    @include lightText;
    @include container;

    text-align: left;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    margin: 1.25rem auto;
  }

  .footer__link--avast {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .footer__link {
    color: $blue;
    font-size: $font-md;
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;

    &__logo--img {
      width: 10rem;
      height: 3rem;
    }
  }

  main,
  .footer {
    max-width: 70%;
  }

  .hero__heading {
    font-size: 3.5rem;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .hero__text {
    font-size: 1.2rem;
    line-height: $line-height-md;
    padding: 0;
  }

  .price__box--heading {
    font-size: $font-xl;
  }

  .price__box--content {
    padding: 1.2rem;
    justify-content: space-between;
    border-radius: 3rem;
  }

  .price__box--text {
    strong {
      font-size: $font-lg;
    }

    span {
      font-size: 1.2rem;
    }
  }

  .price__box--button {
    @include button;
    @include hoverButton;
    font-size: $font-base;
    border-radius: 2.5rem;
    padding: 0.8rem 3.5rem;
  }

  .product {
    &__heading {
      font-size: $font-lg;
    }

    &__features {
      gap: 1rem;
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      max-width: 15rem;
      min-height: 22rem;
      padding: 1.5rem;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }

    &__card--img {
      width: 100%;
    }

    &__card--title {
      font-size: 1.3rem;
    }

    &__card--description {
      font-size: $font-md;
      margin: 0;
    }
  }

  .price__box {
    &--heading-avast {
      font-size: 2rem;
    }

    &--content-avast {
      padding: 2rem;
      min-height: 25rem;
    }

    &--text-avast {
      strong {
        font-size: 2.5rem;
      }

      span {
        font-size: 1.3rem;
      }
    }

    &--button-avast {
      padding: 1.3rem 3.5rem;
      @include hoverButton;
    }

    &--description-avast {
      @include lightText;
      font-size: $font-base;
    }
  }

  /*** FOOTER ***/
  .footer {
    max-width: 70%;
    margin: 0 auto;

    .footer__top {
      line-height: 1.6;
    }

    .footer__bottom {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__link {
      color: $blue;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &__logo--img {
      width: 15rem;
      height: 5rem;
    }
  }

  .hero__heading {
    font-size: 4rem;
  }

  .hero__text {
    font-size: 1.4rem;
  }

  .price__box--heading {
    font-size: 2.5rem;
  }

  .price__box--content {
    padding-left: 2rem;
    padding-right: 2rem;

    &-avast {
      min-height: 30rem;
      gap: 1.5rem;
    }
  }
  .price__box--text {
    strong {
      font-size: 2rem;
    }

    span {
      font-size: 1.5rem;
    }
  }

  .price__box--button {
    font-size: $font-base;
    padding: 1rem 4rem;

    &-avast {
      font-size: $font-base;
    }
  }

  .price__box--description,
  .price__box--description-avast {
    font-size: $font-base;
    line-height: $line-height-lg;
  }

  .price__box--guarantee {
    font-size: 1rem;
  }

  .product {
    &__heading {
      font-size: 2rem;
      margin: 1.5rem 0;
    }

    &__card {
      max-width: 18rem;
      min-height: 25rem;
    }

    &__card--title {
      font-size: $font-lg;
    }

    &__card--description {
      font-size: $font-base;
    }
  }

  .price__box--support {
    font-size: 1.1rem;

    a {
      color: $blue;
    }
  }

  .footer,
  main {
    max-width: 60%;
  }
}
