@import './partials/_variables.scss';
@import './partials/_mixins.scss';
@import './partials/_base.scss';

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*** HEADER ***/
.header {
  height: 3rem;
  margin: 0.625rem;

  &__logo--img {
    width: 7.25rem;
    height: 2.25rem;
  }
}

/*** MAIN ***/
main {
  @include container;
}

/*** SECTION 1 ***/

.hero {
  height: auto;

  &__heading {
    margin-bottom: 15px;
    color: $primary-color;
    line-height: 1.375;
    font-size: $font-2xl;
  }

  &__text {
    font-size: $font-md;
    line-height: 1.5;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}

/*** SECTION 2 ***/

.price__box {
  &--offer {
  }

  &--heading {
    margin: 15px 0;
    color: $primary-color;
    line-height: 1.375;
    font-size: $font-lg;
  }

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid $border-card;
    background-color: $bg-card;
    border-radius: 15px;
    padding: 5px;
  }

  &--text {
    font-size: $font-md;
    line-height: 1.5;

    strong {
      font-size: large;
      line-height: 1.375;
    }

    span {
      margin: 15px 0;
      color: $primary-color;
      line-height: 1.375;
      font-size: $font-base;
    }
  }

  &--text-large {
    font-size: $font-lg;
    line-height: 1.375;

    strong {
      font-size: $font-2xl;
    }

    span {
      font-size: $font-lg;
    }
  }

  &--icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;

    &-avast {
      width: 40px;
      height: 40px;
    }
  }
  &--button {
    width: fit-content;
    color: $white;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px 30px;
    background-color: $blue;
    outline: none;
    border: none;
  }

  // &--button:hover {
  //   background-color: $blue-hover;
  // }

  // &--button:active {
  //   background-color: $blue-hover;
  // }

  &--description {
    font-size: $font-md;
    line-height: $line-height;
    margin: 1rem;
    color: $secondary-color;
  }

  &--support {
    font-size: $font-base;
  }
}

/*** SECTION 3 ***/

.product {
  &__heading {
    margin: 15px 0;
    color: $primary-color;
    line-height: 1.375;
    font-size: large;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid $border-product__card;
    border-radius: 2rem;
    margin-bottom: 0.3rem;
  }

  &__img {
    width: 180px;
    height: 100px;
    vertical-align: middle;
  }
}
/*** SECTION 4 ***/

/*** FOOTER ***/
footer {
  height: 100px;
  margin: 15px;

  &__top {
    font-size: $font-md;
    line-height: 1.5;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // gap: 15px;
    margin: 15px;
  }
}
