@import './partials/_variables.scss';
@import './partials/_mixins.scss';
@import './partials/_base.scss';
@import './partials/_toggle-switch.scss';

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*** DARK / LIGHT THEME ***/
[data-theme='dark'] {
  body {
    background-color: $bg-color-dark;
    color: $text-color-dark;
  }

  .hero__heading,
  .price__box--heading {
    color: $text-color-dark;
  }

  .price__box--heading-avast,
  .price__box--text-avast,
  .price__box--price {
    color: $text-color-light;
  }

  .price__box--support {
    a {
      color: $blue;
    }
  }
}

/*** SCROLL TOP ***/
.scroll__top {
  position: fixed;
  bottom: 1.25rem;
  right: 0.625rem;
  color: $secondary-color;
  padding: 0.625rem;
  border-radius: 50%;
  z-index: 1000;
  animation: btnToTop 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;

  &:hover {
    animation: none;
  }

  &--icon {
    font-size: $font-xl;
  }

  @keyframes btnToTop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
/*** HEADER ***/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  a {
    flex-basis: 40%;
  }
}

main {
  @include container;
}

/*** SECTION 1 ***/

.hero {
  &__heading {
    margin-bottom: 1rem;
    color: $primary-color;
    line-height: $line-height-sm;
    font-size: $font-2xl;
  }

  &__text {
    font-size: $font-base;
    line-height: $line-height-lg;
    margin-bottom: 2rem;
    padding: 0 0.4rem;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    animation: move 2s infinite ease alternate;
  }

  @keyframes move {
    from {
      transform: translateY(-15px);
    }

    to {
      transform: translateY(0px) scale(1.03);
    }
  }
}

/*** SECTION 2 ***/

.price__box {
  &--offer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &--heading {
    margin: 15px 0;
    color: $primary-color;
    line-height: 1.375;
    font-size: $font-lg;
  }

  &--content {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border: 2px solid $border-card;
    background-color: $bg-card;
    border-radius: 2rem;
    padding: 0.625rem;
  }

  &--price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: $font-sm;
    padding-top: 0.4rem;
  }

  &--icon {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 2px solid $border-card;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 60%;
      max-height: 60%;
      border-radius: 50%;
    }
  }

  &--text {
    strong {
      font-size: $font-lg;
      line-height: 1.375;
      letter-spacing: -0.075rem;
    }

    span {
      font-size: $font-md;
    }
  }

  &--icon {
    &-avast {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &--button {
    @include button;
  }

  &--description {
    @include lightText;
  }
}

/*** SECTION 3 ***/

.product {
  &__heading {
    margin: 15px auto;
    line-height: $line-height-sm;
    font-size: 1.3rem;
  }

  &__features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    width: 100%;
  }

  &__card {
    padding: 1rem;
    border: 1px solid $border-product__card;
    border-radius: 2rem;
    max-width: 20rem;
  }

  &__card--title {
    margin-top: 1rem;
    line-height: $line-height-sm;
    font-size: $font-md;
  }

  &__card--description {
    @include lightText;
  }

  &__card--img {
    width: 80%;
    vertical-align: middle;
    border-radius: 50%;
  }
}

/*** SECTION 4 ***/

.price__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--content-avast {
    width: 100%;
    display: flex;
    background-color: $bg-card;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0 auto;
    flex: 1 1 100%;
    max-width: 37.5rem;
    min-height: 22rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: 3px solid $border-card;
  }

  &--heading-avast {
    font-size: 1.5rem;
  }

  &--icon-top {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }
  &--icon-avast {
    width: 1.5rem;
    height: 1.5rem;
  }

  &--text-avast {
    font-size: 12px;
    line-height: 1.5;

    strong {
      font-size: $font-xl;
    }

    span {
      font-size: $font-base;
    }
  }

  &--button-avast {
    @include button;
    font-size: $font-sm;
    padding: 1rem 2.5rem;
  }

  &--guarantee {
    font-size: $font-sm;
  }

  &--description-avast {
    @include lightText;
  }

  &--support {
    font-size: $font-base;
    line-height: $line-height-md;
    margin-top: 2rem;
  }
}

/*** FOOTER ***/
.footer {
  .footer__top {
    @include lightText;
    @include container;

    text-align: left;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1.25rem auto;
  }

  .footer__link--avast {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .footer__link {
    color: $blue;
    font-size: $font-md;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 2rem;

    a {
      flex-basis: 30%;
    }
  }

  main,
  .footer {
    max-width: 70vw;
    padding: 0;
  }

  .hero__heading {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }

  .hero__text {
    font-size: 1.2rem;
    line-height: $line-height-md;
    padding: 0;
  }

  .price__box {
    &--heading {
      font-size: $font-xl;
    }

    &--content {
      padding: 1.2rem;
      justify-content: space-between;
      border-radius: 3rem;
    }

    &--icon {
      width: 2.5rem;
      height: 2.5rem;

      img {
        max-width: 65%;
        max-height: 65%;
      }
    }

    &--text {
      strong {
        font-size: $font-lg;
      }

      span {
        font-size: 1.2rem;
      }
    }

    &--button {
      @include button;
      @include hoverButton;
      font-size: $font-base;
      border-radius: 2.5rem;
      padding: 0.8rem 3.5rem;
    }
  }
  .product {
    &__heading {
      font-size: $font-lg;
    }

    &__features {
      gap: 1rem;
    }

    &__card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1 1 40%;
      align-items: stretch;
      padding: 3rem 1.3rem;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }

    &__card--img {
      width: 100%;
    }

    &__card--title {
      font-size: 1.3rem;
    }

    &__card--description {
      font-size: $font-base;
      line-height: 1.7;
      margin: 0;
    }
  }

  .price__box {
    &--heading-avast {
      font-size: 2rem;
    }

    &--price,
    &--guarantee {
      font-size: $font-base;
    }

    &--content-avast {
      padding: 2rem;
      min-height: 25rem;
    }

    &--text-avast {
      strong {
        font-size: 2.5rem;
      }

      span {
        font-size: 1.3rem;
      }
    }

    &--button-avast {
      padding: 1.3rem 3.5rem;
      @include hoverButton;
    }

    &--description-avast,
    &--description {
      @include lightText;
      font-size: $font-base;
    }

    &--support {
      font-size: 1.2rem;

      a {
        color: $blue;
      }
    }
  }

  /*** FOOTER ***/
  .footer {
    max-width: 70vw;
    margin: 0 auto;

    .footer__top {
      line-height: 1.6;
      font-size: 1rem;
      padding: 0;
    }

    .footer__bottom {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 4rem;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 3rem;

    a {
      flex-basis: 25%;
    }
  }

  main,
  .footer {
    @include container;
    max-width: 60vw;
    padding: 0;
  }

  .hero__heading {
    font-size: 4rem;
  }

  .hero__text {
    font-size: 1.3rem;
  }

  .price__box--heading {
    font-size: 2.5rem;
  }

  .price__box--content {
    padding-left: 2rem;
    padding-right: 2rem;

    &-avast {
      min-height: 30rem;
      gap: 1.5rem;
    }
  }
  .price__box--text {
    strong {
      font-size: 2rem;
    }

    span {
      font-size: 1.5rem;
    }
  }

  .price__box--button {
    font-size: $font-base;
    padding: 1rem 4rem;

    &-avast {
      font-size: $font-base;
    }
  }

  .price__box--description,
  .price__box--description-avast {
    font-size: $font-base;
    line-height: $line-height-lg;
  }

  .price__box--guarantee {
    font-size: 1rem;
  }

  .product {
    &__heading {
      font-size: 2rem;
      margin: 1.5rem 0;
    }

    &__card {
      padding: 3rem 2.5rem;
    }

    &__card--title {
      font-size: $font-lg;
    }

    &__card--description {
      font-size: $font-base;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    max-width: 50vw;
    margin: 0 auto;
  }

  main,
  .footer {
    max-width: 47vw;
  }
}

@media (min-width: 2560px) {
  .header {
    max-width: 30vw;
  }

  main,
  .footer {
    max-width: 24vw;
  }
}
