/*===== COLORS =====*/
/*===== SIZES =====*/
/*===== FONT AND TYPOGRAPHY =====*/
/*===== FONT WEIGHT =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 10px;
}

/*===== GOOGLE FONTS =====*/
/*** SCROLL TOP ***/
.scroll__top {
  position: fixed;
  bottom: 1.25rem;
  right: 0.625rem;
  color: #8a8e91;
  padding: 0.625rem;
  border-radius: 50%;
  z-index: 1000;
  animation: btnToTop 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.scroll__top:hover {
  animation: none;
}
.scroll__top--icon {
  font-size: 2rem;
}
@keyframes btnToTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*** HEADER ***/
.header {
  margin: 2rem 0.5rem 0.5rem;
}
.header__logo--img {
  width: 7.25rem;
  height: 2.25rem;
}

main {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

/*** SECTION 1 ***/
.hero__heading {
  margin-bottom: 1rem;
  color: #000;
  line-height: 1.375;
  font-size: 2.5rem;
}
.hero__text {
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
  padding: 0 0.4rem;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: move 2s infinite ease alternate;
}
@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

/*** SECTION 2 ***/
.price__box--offer {
  display: flex;
  flex-direction: column;
}
.price__box--heading {
  margin: 15px 0;
  color: #000;
  line-height: 1.375;
  font-size: 1.5rem;
}
.price__box--content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  border: 2px solid #ffddbf;
  background-color: #fff1e5;
  border-radius: 2rem;
  padding: 0.625rem;
}
.price__box--text {
  padding-top: 0.4rem;
}
.price__box--text strong {
  font-size: 1.5rem;
  line-height: 1.375;
  letter-spacing: -0.075rem;
}
.price__box--text span {
  font-size: 0.875rem;
}
.price__box--icon {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  border-radius: 50%;
}
.price__box--icon-avast {
  width: 2.5rem;
  height: 2.5rem;
}
.price__box--button {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.7rem 2.5rem;
  background-color: #0070f6;
  outline: none;
  border: none;
  cursor: pointer;
}
.price__box--description {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0.8rem 0;
  color: #8a8e91;
}

/*** SECTION 3 ***/
.product__heading {
  margin: 15px auto;
  line-height: 1.375;
  font-size: 1.3rem;
}
.product__features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.product__card {
  padding: 1rem;
  border: 1px solid #d9dee1;
  border-radius: 2rem;
  max-width: 19rem;
  min-height: 15rem;
}
.product__card--title {
  margin-top: 1rem;
  line-height: 1.375;
  font-size: 0.875rem;
}
.product__card--description {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0.8rem 0;
  color: #8a8e91;
}
.product__card--img {
  width: 80%;
  vertical-align: middle;
}

/*** SECTION 4 ***/
.price__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price__box--content-avast {
  width: 100%;
  display: flex;
  background-color: #fff1e5;
  border-radius: 2rem;
  padding: 1.5rem;
  margin: 0 auto;
  flex: 1 1 100%;
  max-width: 37.5rem;
  min-height: 22rem;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: 3px solid #ffddbf;
}
.price__box--heading-avast {
  font-size: 1.5rem;
}
.price__box--text-avast {
  font-size: 12px;
  line-height: 1.5;
}
.price__box--text-avast strong {
  font-size: 2rem;
}
.price__box--text-avast span {
  font-size: 1rem;
}
.price__box--button-avast {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.7rem 2.5rem;
  background-color: #0070f6;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  padding: 1rem 2.5rem;
}
.price__box--guarantee {
  font-size: 0.75rem;
}
.price__box--description-avast {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0.8rem 0;
  color: #8a8e91;
}
.price__box--support {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 2rem;
}

/*** FOOTER ***/
.footer .footer__top {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: 0.8rem 0;
  color: #8a8e91;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.footer .footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  margin: 1.25rem auto;
}
.footer .footer__link--avast {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer .footer__link {
  color: #0070f6;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .header {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .header__logo--img {
    width: 10rem;
    height: 3rem;
  }
  main,
  .footer {
    max-width: 70%;
  }
  .hero__heading {
    font-size: 3.5rem;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .hero__text {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0;
  }
  .price__box--heading {
    font-size: 2rem;
  }
  .price__box--content {
    padding: 1.2rem;
    justify-content: space-between;
    border-radius: 3rem;
  }
  .price__box--text strong {
    font-size: 1.5rem;
  }
  .price__box--text span {
    font-size: 1.2rem;
  }
  .price__box--button {
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2rem;
    padding: 0.7rem 2.5rem;
    background-color: #0070f6;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 2.5rem;
    padding: 0.8rem 3.5rem;
  }
  .price__box--button:hover {
    background: #2a8bff;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .product__heading {
    font-size: 1.5rem;
  }
  .product__features {
    gap: 1rem;
  }
  .product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    max-width: 15rem;
    min-height: 22rem;
    padding: 1.5rem;
  }
  .product__card:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .product__card--img {
    width: 100%;
  }
  .product__card--title {
    font-size: 1.3rem;
  }
  .product__card--description {
    font-size: 0.875rem;
    margin: 0;
  }
  .price__box--heading-avast {
    font-size: 2rem;
  }
  .price__box--content-avast {
    padding: 2rem;
    min-height: 25rem;
  }
  .price__box--text-avast strong {
    font-size: 2.5rem;
  }
  .price__box--text-avast span {
    font-size: 1.3rem;
  }
  .price__box--button-avast {
    padding: 1.3rem 3.5rem;
  }
  .price__box--button-avast:hover {
    background: #2a8bff;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .price__box--description-avast {
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0.8rem 0;
    color: #8a8e91;
    font-size: 1rem;
  }
  /*** FOOTER ***/
  .footer {
    max-width: 70%;
    margin: 0 auto;
  }
  .footer .footer__top {
    line-height: 1.6;
  }
  .footer .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footer__link {
    color: #0070f6;
  }
}
@media (min-width: 1024px) {
  .header__logo--img {
    width: 15rem;
    height: 5rem;
  }
  .hero__heading {
    font-size: 4rem;
  }
  .hero__text {
    font-size: 1.4rem;
  }
  .price__box--heading {
    font-size: 2.5rem;
  }
  .price__box--content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .price__box--content-avast {
    min-height: 30rem;
    gap: 1.5rem;
  }
  .price__box--text strong {
    font-size: 2rem;
  }
  .price__box--text span {
    font-size: 1.5rem;
  }
  .price__box--button {
    font-size: 1rem;
    padding: 1rem 4rem;
  }
  .price__box--button-avast {
    font-size: 1rem;
  }
  .price__box--description,
  .price__box--description-avast {
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .price__box--guarantee {
    font-size: 1rem;
  }
  .product__heading {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  .product__card {
    max-width: 18rem;
    min-height: 25rem;
  }
  .product__card--title {
    font-size: 1.5rem;
  }
  .product__card--description {
    font-size: 1rem;
  }
  .price__box--support {
    font-size: 1.1rem;
  }
  .price__box--support a {
    color: #0070f6;
  }
  .footer,
  main {
    max-width: 60%;
  }
}/*# sourceMappingURL=style.css.map */