@mixin container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  padding: 0 3rem;
}

@mixin lightText {
  font-size: $font-sm;
  line-height: 1.5;
  margin: 0.8rem 0;
  color: $secondary-color;
}

@mixin hoverButton {
  &:hover {
    background: lighten($blue, 10%);
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

@mixin button {
  width: fit-content;
  color: $white;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.7rem 2.5rem;
  background-color: $blue;
  outline: none;
  border: none;
  cursor: pointer;
}
