/*===== DARK / LIGHT THEME =====*/

$bg-color-light: #fff;
$text-color-light: #000;

$bg-color-dark: #000;
$text-color-dark: #fff;

/*===== COLORS =====*/
$white: #fff;
$primary-color: #000;
$secondary-color: #8a8e91;
$blue: #0070f6;
$bg-card: #fff1e5;
$border-card: #ffddbf;
$border-product__card: #d9dee1;

/*===== SIZES =====*/

$font-xs: 0.625rem;
$font-sm: 0.75rem;
$font-md: 0.875rem;
$font-base: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-2xl: 2.5rem;
$font-3xl: 3rem;

$line-height-sm: 1.375;
$line-height-md: 1.5;
$line-height-lg: 1.625rem;

$border-radius__button: 5px;
$border-radius__card: 10px;

/*===== FONT AND TYPOGRAPHY =====*/
$font-family: 'Roboto', sans-serif;

/*===== FONT WEIGHT =====*/
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
