/*===== COLORS =====*/
$white: #fff;
$bg-card: #fff1e5;
$primary-color: #000;
// $light-text: #989da0;
$blue: #0070f6;
$blue-hover: #7bb5fb;

$border-card: #ffddbf;
$border-product__card: #9fa4a8;
$secondary-color: #8a8e91;

/*===== SIZES =====*/
$font-xl: 2.5rem;
$font-lg: 1.5rem;
$font-base: 1rem;
$font-md: 0.875rem;
$font-sm: 0.625rem;
$line-height: 1.5;

$line-height__desktop: 1.625rem;

$border-radius__button: 5px;
$border-radius__card: 10px;

/*===== FONT AND TYPOGRAPHY =====*/
$font-family: 'Roboto', sans-serif;

/*===== FONT WEIGHT =====*/
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
